:root {
    --body-background-color: #19133fff;
    --body-text-color: #f0ffff;
    --card-background-color: #251d58ff;
    --nav-background-color: #514f4f;
    --nav-border-bottom-color: #95e6e6;
  }