:root {
    --body-background-color: #19133f;
    --body-text-color: #f0ffff;
    --card-background-color: #15133b;
    --nav-background-color: #808080;
    --nav-border-bottom-color: #f0ffff;
  }